<?xml version="1.0" encoding="UTF-8"?>
<configerations>
<fileconfig>
    <MCtestDir>data/MCTEST/</MCtestDir>
    <StopWordsFile>data/MCTEST/stopwords.txt</StopWordsFile>
    <!--<MC500trainfilepath>MCTest/mc500.train.tsv</MC500trainfilepath>-->
    <!--<MC500trainAnswerfilepath>MCTest/mc500.train.ans</MC500trainAnswerfilepath>-->
    <!--<MC500devfilepath>MCTest/mc500.dev.tsv</MC500devfilepath>-->
    <!--<MC500testfilepath>MCTest/mc500.test.tsv</MC500testfilepath>-->
</fileconfig>
</configerations>